<!-- bloc-notes-detail.component.html -->
<div class="container mx-auto py-12">
  
  <div class="mt-6">
    <button class="flex items-center bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" (click)="returnToBlocNoteCreation()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
      </svg>
      Retour à la création de bloc-notes
    </button>
  </div>

  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">{{blocNoteName}}</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-note *ngFor="let note of notes; let i = index" [note]="note" (deleteNote)="deleteNote($event)"></app-note>
    </div>
    <div class="mt-12">
      <h2 class="text-xl font-bold text-gray-800 mb-4">Créer une nouvelle note</h2>
      <div class="flex flex-col md:flex-row md:space-x-4">
        <input type="text" class="w-full md:w-1/3 px-3 py-2 border rounded-md mb-4 md:mb-0" [(ngModel)]="noteTitle" placeholder="Titre de la note">
        <textarea class="w-full md:w-2/3 px-3 py-2 border rounded-md mb-4 md:mb-0" [(ngModel)]="noteContent" placeholder="Contenu de la note"></textarea>
        <select class="w-full md:w-1/3 px-3 py-2 border rounded-md mb-4 md:mb-0" [(ngModel)]="noteColor">
          <option value="bg-red-500">Rouge</option>
          <option value="bg-blue-500">Bleu</option>
          <option value="bg-green-500">Vert</option>
          <option value="bg-yellow-500">Jaune</option>
        </select>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="createNote()">Créer</button>
      </div>
    </div>

    

  </div>

  <!-- Inclure le modal de modification -->
  <!-- <app-modify-note-modal></app-modify-note-modal> -->
  <app-modify-note-modal *ngIf="showModifyNoteModal"></app-modify-note-modal>
</div>
