<!-- boards.component.html -->
<div class="max-w-md mx-auto bg-gray-100 p-6 rounded-md shadow-md">
  <h2 class="text-lg font-semibold mb-4">Liste des tableaux de notes</h2>
  <ul>
    <li *ngFor="let board of boards"
      class="text-gray-800 border-b py-2 cursor-pointer transition duration-300 hover:bg-gray-200 p-3 "
      (click)="navigateToBoardDetails(board)">{{ board }}</li>
  </ul>
  <input type="text" #boardName placeholder="Nom du tableau" class="border rounded-md px-3 py-2 mt-4 w-full">
  <button (click)="addBoard(boardName.value)" class="bg-blue-500 text-white rounded-md px-4 py-2 mt-2">Ajouter
    tableau</button>
</div>
